<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TrainingBy Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="808ff1">  <td>20/08/10 18:21:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DepartmentTests.checkInsertDepartment()[pri:0, instance:com.epam.lab.DepartmentTests@7ab150b6]">checkInsertDepartment</td> 
  <td>Test worker@609678565</td>   <td></td> </tr>
<tr bgcolor="808ff1">  <td>20/08/10 18:21:04</td>   <td>1008</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DepartmentTests.checkUpdateDepartment()[pri:0, instance:com.epam.lab.DepartmentTests@7ab150b6]">checkUpdateDepartment</td> 
  <td>Test worker@609678565</td>   <td></td> </tr>
<tr bgcolor="808ff1">  <td>20/08/10 18:21:04</td>   <td>1073</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DepartmentTests.deleteData()[pri:0, instance:com.epam.lab.DepartmentTests@7ab150b6]">&lt;&lt;deleteData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>Test worker@609678565</td>   <td></td> </tr>
</table>
